version: '3.9'

services:
  db:
    image: postgres:16
    container_name: spring-db
    environment:
      POSTGRES_DB: spring
      POSTGRES_USER: spring
      POSTGRES_PASSWORD: secretock
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U spring -d spring"]
      interval: 10s
      timeout: 5s
      retries: 5
