spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/leadsdb
    username: leaduser
    password: secretock
    initialization-mode: always
    initialize: true
  security:
    user:
      name: jhon
      password: jhon

  flyway:
    baseline-on-migrate: true

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      show-sql: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3 #model: deepseek-r1
          temperature: 0.1
    # pick the provider explicitly (optional – auto-detects when only one on CP)
    model:
      image: openai

    openai:
      api-key: ${OPENAI_API_KEY}           # <-- read from env var
      image:
        options:
          model: dall-e-3                  # or dall-e-2
          size: 1024x1024                  # = 1 MP PNG
          response-format: b64_json        # we’ll store the raw bytes

server:
  error:
    include-message: always
